body {
    background-color: grey;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* left side section box */
.left_nav {
    height: 90vh;
    width: 25%;
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: #121212;
    position: fixed;
}

/* box margin for home,search,etc  */
.lnav-margin {
    /* border: 2px solid black; */
    margin-top: 50px;
}

/* for link tags in home , search ,etc boxes */
.lnav-margin a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding-left: 10px;
}

/* for all icons in  */
.lnav-margin i {
    padding-left: 10px;
    color: white;
}

/* for arrow and plus icon in your library section */
#arr-plus {
    float: right;
    padding-right: 10px;
}


/* for your playlist section */
.own_playlist {
    /* border: 2px solid black; */
    margin: 50px 36px;
    /* for margin between library ans own playlist*/
    padding-top: 30px;
    /* for padding in text to make it in center*/
    padding-left: 20px;
    height: 125px;
    width: 75%;
    display: flex;
    display: inline-block;
    color: white;
    background-color: #232322;
    border-radius: 10px;
}



/* for browse podcasts section */
.podcasts {
    /* border: 2px solid black; */
    margin: 0px 36px;
    /* for margin between library ans own playlist*/
    padding-top: 30px;
    /* for padding in text to make it in center*/
    padding-left: 20px;
    height: 175px;
    width: 75%;
    display: flex;
    display: inline-block;
    color: white;
    background-color: #232322;
    border-radius: 10px;
}


/* for the button in playlist and podcast section */
#boxes {
    background-color: rgb(254, 255, 222);
    border-radius: 30px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

/* here the right nav section is going to start and its elements */
.right_nav {
    /* border: 2px solid black; */
    width: 74%;
    height: 210vh;
    border-raius: 5px;
    margin-left: 2px;
    color: white;
    background-color: #121212;
    margin-left: 25.2%;
    /* position: relative; */
}

/* this is the first section in right navbar */
.part_a {
    /* background-color: purple; */
    height: 40px;
    padding: 30px;
}

/* buttons */
.pabutton {
    width: 125px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    float: right;
    margin-left: 20px;
    background-color: #121212;
    color: white;
}

/* premium button colors */
#explore_premium {
    background-color: #fff;
    color: black;
}

/* this is the second section of nav */
.part_b {
    margin-top: 50px;
    height: 30px;
    width: 100%;
    padding-left: 20px;
    font-size: xx-large;
    /* background-color: #fff; */
}

/* for all image container */
.imgcontainer {
    height: 275px;
    /* background-color: #fff; */
    width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
}

/* for the head of  */
.descriptions-head {
    /* color: black; */
    font-weight: bolder;
}

.descriptions {
    margin: 0;
    /* color: black; */
}

/* for all thumbnails */
.thumbnails {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    /* margin-bottom: 100px; */
}

/* same as part_b so code pasted od part b */
.part_d {
    margin-top: 50px;
    height: 30px;
    width: 100%;
    padding-left: 20px;
    font-size: xx-large;
    /* background-color: #fff; */
    margin-bottom: 50px;
}

.part_e {
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: yellow; */
}

.part_f {
    margin-top: 50px;
    height: 30px;
    width: 100%;
    padding-left: 20px;
    font-size: xx-large;
    /* background-color: #fff; */
    margin-bottom: 50px;
}

.part_g {
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: yellow; */
}

footer {
    left: 0;
    bottom: 0;
    background-color: red;
    margin-top: 50px;
    width: 100%;
    height: 75px;
    position: fixed;
}

footer audio{
    background-color: transparent;
}